name: windows

on: [push, pull_request]

permissions: read-all

jobs:
  build:
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config:
        - { os: windows-2022, vs: "Visual Studio 2022" } # https://github.com/actions/runner-images/blob/main/images/windows/Windows2022-Readme.md#visual-studio-enterprise-2022
        - { os: windows-2025, vs: "Visual Studio 2025" } # https://github.com/actions/runner-images/blob/main/images/windows/Windows2025-Readme.md#visual-studio-enterprise-2025

    name: "${{ matrix.config.vs }}"
    steps:
    - uses: actions/checkout@v4

    - name: Build Win32
      shell: bash
      run: |
        rm -rf build
        mkdir build
        cd build
        cmake .. -A Win32
        cmake --build . -j 4 --config Release
        ctest --output-on-failure -C Release
        cmake --build . -j 4 --config Debug
        ctest --output-on-failure -C Debug

    - name: Build x64
      shell: bash
      run: |
        rm -rf build
        mkdir build
        cd build
        cmake .. -A x64
        cmake --build . -j 4 --config Release
        ctest --output-on-failure -C Release
        cmake --build . -j 4 --config Debug
        ctest --output-on-failure -C Debug
